---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Certifications from '../components/Certifications.astro';
import RecentPosts from '../components/RecentPosts.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
---

<Layout title="Cloud & DevOps Engineer Portfolio">
  <main>
    <Hero />
    <Skills />
    <Certifications />
    <FeaturedProjects />
    <RecentPosts />
  </main>
</Layout>